<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: main-layout(~{::main})}">
<body>
<main class="max-w-4xl mx-auto px-4 py-20 text-center">
  <div class="max-w-xl mx-auto">
    <h1 class="text-3xl font-black uppercase tracking-tighter mb-6">Pliki Cookies</h1>
    <p class="text-gray-500 font-bold leading-loose">
      Używamy ciasteczek tylko po to, żeby sesja Twojego logowania nie wygasła w połowie zakupów.
      To cyfrowe okruchy, które pozwalają nam pamiętać, że Ty to Ty.
      Możesz je wyłączyć w przeglądarce, ale wtedy nasz Moduł Sterowania dostanie amnezji.
    </p>
  </div>
</main>
</body>
</html>