<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: main-layout(~{::main})}">
<body>
<main class="max-w-4xl mx-auto px-4 py-16">
  <div class="bg-gray-900 text-white p-12 rounded-[3rem]">
    <h1 class="text-4xl font-black uppercase tracking-tighter mb-8 text-indigo-400">Polityka Prywatności</h1>
    <div class="space-y-8 opacity-80 text-sm font-bold uppercase tracking-widest">
      <p>Twoje dane są u nas bezpieczniejsze niż hasła do bazy PostgreSQL.</p>
      <p>Zbieramy tylko to, co niezbędne do realizacji rezerwacji Twojego zamówienia.</p>
      <p>Nie sprzedajemy Twoich danych handlarzom baz danych. Jesteśmy sklepem z hardwarem, a nie z ludźmi.</p>
      <p>Masz prawo do zapomnienia, edycji i wglądu w swoje dane przez panel Moje Konto.</p>
    </div>
  </div>
</main>
</body>
</html>