<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: main-layout(~{::main})}">
<body>
<main class="max-w-4xl mx-auto px-4 py-16">
  <h1 class="text-5xl font-black text-gray-900 uppercase tracking-tighter mb-12">Regulamin</h1>
  <div class="space-y-12 text-gray-600 font-medium leading-relaxed">
    <section>
      <h2 class="text-sm font-black text-indigo-600 uppercase tracking-[0.3em] mb-4">01. Protokół Ogólny</h2>
      <p>Hardware Store dostarcza komponenty w stanie nienaruszonym. Korzystanie z serwisu oznacza akceptację na oddanie swojego losu w nasze ręce.</p>
    </section>
    <section>
      <h2 class="text-sm font-black text-indigo-600 uppercase tracking-[0.3em] mb-4">02. Transakcje</h2>
      <p>Wszelkie płatności mają miejsce bezpośrednio w placówce wybranej jako punkt realizacji rezerwacji i są zgodne z regulaminami danej placówki</p>
    </section>
    <section>
      <h2 class="text-sm font-black text-indigo-600 uppercase tracking-[0.3em] mb-4">03. Odpowiedzialność</h2>
      <p>Nie odpowiadamy za spięcia wywołane nieprawidłowym montażem zakupionych u nas modułów przez osoby trzecie.</p>
    </section>
  </div>
</main>
</body>
</html>